body
{
    background: url(../images/Agam.JPG) no-repeat center center fixed;
}

.well.well-white {
    background-color: #FFFFFF;
}

.btn-group form {
    display: inline-block;
}

form li {
    max-width: 61%;
}

.connectedSortable li {
    cursor:move;
}

.toggler
{
    position: relative;
    margin: auto;
    margin-top: 20px;
    background:#fff;
    text-align: center;
    width:35%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 1.2em;
}

.exit_button_holder
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-with-padding
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.chug_choice_container
{
    position: relative;
    overflow: auto;
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
    font-size: 1.1em;
    background: #fff;
    padding-bottom: 1px;
    border: 2px dotted silver;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.chug_choice_container > h3
{
    text-align: left;
    margin-left: 15%;
}

.error_box
{
    position: relative;
    background:#fff;
    margin:0 auto;
    text-align: left;
    width: 80%;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid red;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.image_container
{
    position: relative;
    margin-top: 15px;
    margin:0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.form_item_instance_chooser
{
    max-height: 300px;
    overflow-y: scroll;
}

/**** Overrides for mobile devices ****/
@media all and (max-width: 750px) {
    form li {
        max-width: 100%;
    }

    .toggler
    {
        width: 90%;
    }

    .chug_choice_container
    {
        width: 90%;
    }
}

/**** Logo Section  *****/
h1
{
    background-color:#E8EEF7;
    margin:0;
    min-height:0;
    padding:0;
    text-decoration:none;
    text-indent:-8000px;

}

h1 a
{

    display:block;
    height:100%;
    min-height:40px;
    overflow:hidden;
}

img
{
    behavior:url(css/iepngfix.htc);
    border:none;
}

/**** Form Section ****/
.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}

form ul
{
    font-size:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
}

form li
{
    display:block;
    margin:0;
    padding:4px 5px 2px 9px;
    position:relative;
}

form li:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.buttons:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.buttons
{
    clear:both;
    display:block;
    margin-top:10px;
}

* html form li
{
    height:1%;
}

* html .buttons
{
    height:1%;
}

* html form li div
{
    display:inline-block;
}

form li div
{
    color:#444;
    margin:0 4px 0 0;
    padding:0 0 8px;
}

form li span
{
    color:#444;
    float:left;
    margin:0 4px 0 0;
    padding:0 0 8px;
}

form li div.left
{
    display:inline;
    float:left;
    width:48%;
}

form li div.right
{
    display:inline;
    float:right;
    width:48%;
}

form li div.left .medium
{
    width:100%;
}

form li div.right .medium
{
    width:100%;
}

.clear
{
    clear:both;
}

form li div label
{
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
}

form li span label
{
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
}

form li .datepicker
{
    cursor:pointer !important;
    float:left;
    height:16px;
    margin:.1em 5px 0 0;
    padding:0;
    width:16px;
}

form hr
{
    display:none;
}

form ul li.first
{
    border-top:none !important;
    margin-top:0 !important;
    padding-top:0 !important;
}

/**** Inputs and Labels ****/
label.description
{
    border:none;
    color:#222;
    display:block;
    font-size:95%;
    font-weight:700;
    line-height:150%;
    padding:0 0 1px;
}

input.file
{
    color:#333;
    font-size:100%;
    margin:0;
    padding:2px 0;
}

select.select
{
    color:#333;
    font-size:100%;
    margin:1px 0;
    padding:1px 0 0;
    background:#fff url(../images/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
}

input.currency
{
    text-align:right;
}

input.checkbox
{
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
}

input.radio
{
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
}

label.choice
{
    color:#444;
    display:block;
    font-size:100%;
    line-height:1.4em;
    margin:-1.55em 0 0 25px;
    padding:4px 0 5px;
    width:90%;
}

select.select[class]
{
    margin:0;
    padding:1px 0;
}

*:first-child+html select.select[class]
{
    margin:1px 0;
}

.safari select.select
{
    font-size:120% !important;
    margin-bottom:1px;
}

input.small
{
    width:25%;
}

select.small
{
    width:25%;
}

input.medium
{
    width:50%;
}

select.medium
{
    width:50%;
}

input.large
{
    width:99%;
}

select.large
{
    width:100%;
}

textarea.small
{
    height:5.5em;
}

textarea.medium
{
    height:10em;
}

textarea.large
{
    height:20em;
}

/**** Errors ****/
form li.error
{
    background-color:#FFDFDF !important;
    border-bottom:1px solid #EACBCC;
    border-right:1px solid #EACBCC;
    margin:3px 0;
}

form li.error label
{
    color:#DF0000 !important;
}

form p.error
{
    clear:both;
    color:red;
    font-size:10px;
    font-weight:700;
    margin:0 0 5px;
}

form .required
{
    color:red;
    float:none;
    font-weight:700;
}

/**** Guidelines and Error Highlight ****/
form li.highlighted
{
    background-color:#fff7c0;
}

form .guidelines
{
    background:#f5f5f5;
    border:1px solid #e6e6e6;
    color:#444;
    font-size:80%;
    left:100%;
    line-height:130%;
    margin:0 0 0 8px;
    padding:8px 10px 9px;
    position:absolute;
    top:0;
    visibility:hidden;
    width:42%;
    z-index:1000;
}

form .guidelines small
{
    font-size:105%;
}

form li.highlighted .guidelines
{
    visibility:visible;
}

form li:hover .guidelines
{
    visibility:visible;
}

.no_guidelines .guidelines
{
    display:none !important;
}

.no_guidelines form li
{
    width:97%;
}

.no_guidelines li.section
{
    padding-left:9px;
}

/*** Success Message ****/
.form_success
{
    clear: both;
    margin: 0;
    padding: 90px 0pt 100px;
    text-align: center
}

.form_success h2 {
    clear:left;
    font-size:160%;
    font-weight:normal;
    margin:0pt 0pt 3px;
}

/*** Password ****/
ul.password{
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}
.password h2{
    color:#DF0000;
    font-weight:bold;
    margin:0pt auto 10px;
}

.password input.text {
    font-size:170% !important;
    width:380px;
    text-align: center;
}
.password label{
    display:block;
    font-size:120% !important;
    padding-top:10px;
    font-weight:bold;
}

/*** Zebra table **********************/
div.zebra { position: relative; }

.zebra table {
    width: 95%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
}

.zebra caption {
    font-size: 1.5em;
    padding: 0.3em;
}

.zebra th, td {
    padding: 0.3em;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.zebradarkstripe {
    background-color: #eee;
}

.zebra th:last-child, td:last-child {
    border-right: 0;
}

.zebra tfoot th, tfoot td {
    border-bottom: 0;
    text-align: center;
}

.zebra th {
    width: 25%;
}

/*** Toggling options list **********************/
ul.options_toggle {
    list-style-type: none;
    width: 15em;
    margin: 0.3em 0;
    padding: 0;
}

ul.options_toggle li {
    background: #def url(../images/cross_bright.png) no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: #46a;
    font-weight: bold;
    border: solid 1px #cde;
}

select.options_toggle {
    swidth: 15em;
    color: #46a;
    font-weight: bold;
}
